<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

        <ul>
          <% booking.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <% if booking.car_id.blank? %>
    <% car_id = params[:car_id] %>
  <% else %>
    <% car_id = booking.car_id %>
  <% end %>
  
  <%= form.label "Car make: " %>
  <%= Car.find_by(car_id).make %><br>
  
  <%= form.hidden_field :car_id, value: car_id %>
  <% if isSuperAdmin? %>
    <%= form.label "User id and name: " %>
    <%= form.collection_select :user_id, User.all, :id, lambda {|u| "#{u.id}- #{u.firstname}"}, {:prompt => "Please select user id"} %><br>
  <% elsif isAdmin? %>
    <%= form.label "User id and name: " %>
    <%= form.collection_select :user_id, User.where.not(role: "SuperAdmin"), :id, lambda {|u| "#{u.id}- #{u.firstname}"}, {:prompt => "Please select user id"} %><br>
  <% else %>
    <%= form.hidden_field :user_id, value: session[:user_id] %><br>
  <% end %>
  
  <%= form.label "Checkout time:" %><br>
  <%= form.datetime_select :checkOut, id: :booking_checkOut %><br>

  <%= form.label "Expected return time:" %> <br>
  <%= form.datetime_select :expectedReturn, id: :booking_expectedReturn %><br>
  <% if (isAdmin? || isSuperAdmin?) && false %>
    <%= form.label "Booking status:" %> <br>
    <%= form.collection_select :status, Booking.statuses, :first, :first, {:prompt => "Please select booking status"} %><br>
  <% end %>
  <br>
  <%= form.submit "Make a booking", class: "btn btn-primary" %><br>
    
<% end %>