<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

        <ul>
          <% booking.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <% if booking.car_id.blank? %>
    <% car_id = params[:car_id] %>
  <% else %>
    <% car_id = booking.car_id %>
  <% end %>
  
  <%= form.label "Car make: " %>
  <%= Car.find_by(car_id).make %><br>
  
  <%= form.hidden_field :car_id, value: car_id %>
  <%= form.hidden_field :user_id, value: session[:user_id] %><br>
  
  <%= form.label "Pickup time:" %><br>
  <%= form.datetime_select :pickup, id: :booking_pickup %><br>

  <%= form.label "Expected return time:" %> <br>
  <%= form.datetime_select :expectedReturn, id: :booking_expectedReturn %><br>
  
  <br>
  <%= form.submit "Make a booking", class: "btn btn-primary" %><br>
    
<% end %>