<% provide(:title, 'Sign up') %>

<h1>Sign Up</h1>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">

    <%= form_for(:user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label "First name" %>
      <div class="row">  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <%= f.text_field :firstname, class: 'form-control' %></div></div>

      <%= f.label "Last name" %>
      <div class="row">  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <%= f.text_field :lastname, class: 'form-control' %></div></div>

      <%= f.label :email %>
      <div class="row">  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <%= f.email_field :email, class: 'form-control' %></div></div>

      <%= f.label :phone %>
      <div class="row">  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <%= f.text_field :phone, class: 'form-control' %></div></div>

      <%= f.label "License Number" %>
      <div class="row">  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <%= f.text_field :licenseN, class: 'form-control' %></div></div>

      <%= f.label :password %>
      <div class="row">  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <%= f.password_field :password, class: 'form-control' %></div></div>

      <%= f.label :password_confirmation, "Confirmation" %>
      <div class="row">  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <%= f.password_field :password_confirmation, class: 'form-control' %></div></div>

      <div class="row"><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <%= f.submit "Submit", class: "btn btn-primary" %></div></div>
    <% end %>

  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
</div>
