<% provide(:title, @user.id) %>

<h1>
  <%= @user.firstname %><br>
</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div>
        <% if true %>
          <%= label_tag :email %> :
          <%= @user.email %><br>
          <%= label_tag "Total rental charge" %> :
          <%= '%.2f' % @user.rentalCharge %><br>
          <%= label_tag "Available to rent car?" %>
          <%= (@user.available)? "Yes": "No" %><br>
        <% end %>
      </div>
    </section>
  </aside>
</div>
<%= link_to "home!", root_path %>
<%= link_to "Cars", cars_path %>