<% provide(:title, @car.make+' - '+@car.model) %>

<h1>
  <%= @car.make %>
</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="car_info">
      
        <%= label_tag "Model" %> :
        <%= @car.model %><br>
        <%= label_tag "Year" %> :
        <%= @car.year %><br>
        <%= label_tag "Price(p/h)" %> :
        <%= '$%.2f per hour' % @car.price %><br>
        <%= label_tag "Size" %> :
        <%= @car.size %><br>
        <%= label_tag "Location" %> :
        <%= @car.location %><br>
        <%= label_tag "Status" %> :
        <%= @car.status %><br>
      
    </section>
  </aside>
</div>

<% if @car.isAvailable? %>
  <%= link_to 'Book', new_booking_path(:car_id => @car.id) %> |
<% end %>
<% if isAdmin? || isSuperAdmin? %>
  
    <%= link_to 'Edit', edit_car_path(@car) %> |
  
  <%= link_to "Delete", @car, method: :delete, data: { confirm: "Delete this car?" } %> |
<% end %>
<%= link_to 'List', cars_path %> |
<%= link_to 'Back', :back %>